
{{role}}<div class="card mb-2">
   
    <div class="card-body"  >
        <div class="d-flex">
            <button class="btn-block btn btn-secondary bg-secondary" data-mdb-toggle="modal"
                data-mdb-target="#ajouterPoste">
                <span style="font-weight: bold">Publier un événement</span>
            </button>
            <div class="modal fade" id="ajouterPoste" data-mdb-backdrop="static"
                data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Créer un événement</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--  <form ngIf="currentFile">-->
                            <form [formGroup]="formEvent">
                                <div class="md-form md-outline">
                                    <input formControlName="titre" mdbInput type="text"
                                        class="form-control" placeholder="Titre">
                                </div>
                                <!--input Poste -->
                                <div class="input-group mt-2 mb-2">
                                    <textarea class="form-control" formControlName="description"
                                        placeholder="Description" aria-describedby="basic-addon1"
                                        style="height: 150px"></textarea>
                                </div>

                               <!-- <div class="input-group mt-2 mb-2">
                                    <select formControlName="id_user" name="pets" id="pet-select">
                                        <option value="">--select utilisateur--</option>
                                        <option value="{{user.id_user}}" *ngFor="let user of listUsers">
                                            {{user.nom +" "+ user.prenom}}</option>
                                    </select>
                                </div>

                                <div class="input-group mt-2 mb-2">
                                    <select formControlName="id_maisonjeunes" name="pets"  class="form-control"
                                        id="pet-select">
                                        <option value="">--select maison des jeunes--</option>
                                        <option  selected
                                         value="1"
                                            >
                                            1</option>
                                    </select>
                                </div>-->
                                <div class="md-form md-outline mt-3">
                                    <input type="file" (change)="onImageSelected($event)" accept="image/*" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary btn-block mb-4"
                                        (click)="addEvent()">Publier</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>